services:
    nginx:
        build:
            context: ./dockerfiles/nginx/.
            args:
                - NGINX_VERSION=${NGINX_VERSION}
                - PROJECT_PATH=${PROJECT_PATH}
        container_name: nginx-container
        networks:
            - container-link
        volumes:
            - type: volume
              source: PHP-FPM-SOCK
              target: /var/run/php-fpm
              volume:
                nocopy: true
            - $NGINX_CONF_PATH/nginx.conf:$SYS_NGINX_PATH/nginx.conf:cached,z
            - $NGINX_CONFD_PATH/default.conf:$SYS_NGINX_PATH/conf.d/default.conf:cached,z
            - $SYS_LOG_PATH/nginx:$SYS_LOG_PATH/nginx:cached,z
            - ./source:$PROJECT_PATH:delegated,z
        environment:
            TZ: $TIME_ZONE
            LANG: $LANG
        ports:
            - '80:80'
        depends_on:
            - php-fpm
    php-fpm:
        build:
            context: ./dockerfiles/php-fpm/.
            args:
                - PHP_FPM_VERSION=${PHP_FPM_VERSION}
                - PROJECT_PATH=${PROJECT_PATH}
        networks:
            - container-link
        init: true
        volumes:
            - ../src/Nexus:$PROJECT_PATH:delegated
            - PHP-FPM-SOCK:/var/run/php-fpm
            - $PHP_INI_PATH/php.ini:$SYS_PHP_CONF_PATH/php/php.ini:delegated
            - $PHP_FPM_CONF_PATH/php-fpm.conf:$SYS_PHP_CONF_PATH/php-fpm.conf:delegated
            - $PHP_FPM_CONFD_PATH/www.conf:$SYS_PHP_CONF_PATH/php-fpm.d/www.conf:delegated
            - $PHP_FPM_CONFD_PATH/zzz-docker.conf:$SYS_PHP_CONF_PATH/php-fpm.d/zzz-docker.conf:delegated
            - $SYS_LOG_PATH/php-fpm:/usr/local/var/log/php-fpm:cached
        environment:
            TZ: $TIME_ZONE
            LANG: $LANG
            CACHE_HOST: cache1
        entrypoint: "/bin/sh -c 'chmod -R o+w ${PROJECT_PATH} && docker-php-entrypoint php-fpm'"
        extra_hosts:
            - "host.docker.internal:host-gateway"
        depends_on:
            - mysql
    mysql:
        build:
            context: ./dockerfiles/mysql/.
            args:
                - MYSQL_VERSION=${MYSQL_VERSION}
        container_name: mysql-container
        init: true
        networks:
            - container-link
        volumes:
            - $MYSQL_CONF_PATH/my.cnf:$SYS_ROOT_PATH/my.cnf:delegated,z
            - $DB_INIT_PATH:/docker-entrypoint-initdb.d:delegated,z
            - $SYS_LOG_PATH/mysql:$SYS_LOG_PATH/mysql:z
            - MYSQL-DATA:/var/lib/mysql:cached
        expose:
            - "3306"
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: $ENV_MYSQL_ROOT_PASSWORD
            MYSQL_USER: $ENV_MYSQL_USER
            MYSQL_PASSWORD: $ENV_MYSQL_PASSWORD
            TZ: $TIME_ZONE
volumes:
    PHP-FPM-SOCK:
    MYSQL-DATA:
networks:
    # コンテナ間通信用のネットワークセグメント
    container-link:
        name: mynetwork.internal
